/* CSS Normalization */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none
}

/* Fonts */

/* Bitter */

@font-face {
    font-family: "Bitter";
    src: url("./fonts/bitter/Bitter-Regular.ttf");
}

@font-face {
    font-family: "Bitter";
    src: url("./fonts/bitter/Bitter-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Bitter";
    src: url("./fonts/bitter/Bitter-Italic.ttf");
    font-style: italic;
}

/* Lato */

/* latin-ext */

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Global */

html {
    font-family: 'Raleway', 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

#container {
    perspective: 2px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    transform-style: preserve-3d;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
    text-align: center;
    font-family: 'Bitter', Palantio, Georgia, Times, serif;
    margin: 0;
}

h2 {
    font-size: 2em;
}

.button {
    display: inline-block;
    color: #fff;
    background: #3466b1;
    transition: 0.2s all;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
}

.bitter {
    font-family: 'Bitter', Palantio, Georgia, Times, serif;
}

.line-seperator {
    width: 100px;
    height: 1px;
    margin: 10px auto;
    background-color: #fff;
}

.line-seperator-light {
    width: 100px;
    height: 1px;
    margin: 10px auto;
    background-color: #000
}

/* Header */

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    transition: 0.2s all;
}

#contact-info {
    background-color: #3466b1;
    color: #fff;
    font-size: 0.9em;
    padding: 5px 0;
}

#contact-info>div {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: auto;
}

.contact-info-item>*+* {
    margin-left: 10px;
}

nav {
    display: flex;
    align-items: center;
    /*background-color: #fff;*/
    padding: 10px 40px;
    font-weight: bold;
    justify-content: space-evenly;
}

nav>div>a {
    color: #fff;
}

nav ul {
    display: flex;
    justify-content: space-around;
    margin-left: 40px;
    max-width: 600px;
    width: 100%;
    float: right;
}

nav ul>li {
    display: inline-block;
    list-style: none;
}

nav ul>li>a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s color;
}

nav ul>li>a:hover {
    color: #3b89ff !important;
}

.nav-selected {
    color: #3b89ff !important;
}

.scrolled-header {
    background-color: #fff;
    box-shadow: 0 0 10px 0 #aaa;
}

.scrolled-header>nav>ul>li>a {
    color: #000;
}

.scrolled-header>nav>div>a {
    color: #3b89ff;
}

/* Splashscreen */

#splashscreen {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    color: #fff;
    background-color: #333;
    background-size: cover;
    background-image: url("./imgs/4.jpg");
    background-position: 50% 30%;
    transform: translateZ(-1px) scale(1.5) translateX(-3px);
    z-index: -1;
}

#splashscreen>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    /*padding: 40px;
    background: rgba(0,0,0,0.4);
    border-radius: 20px;*/
}

#splashscreen>div p {
    color: #fff;
    line-height: 1.5em;
    font-size: 1.2em;
    margin: 40px auto 30px auto;
    max-width: 800px;
    text-align: center;
}

#splashscreen h2 {
    font-size: 4em;
    line-height: 1.3em;
    font-weight: normal;
}

#splashscreen-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/*
#splashscreen > div {
    position: absolute;
    top: 100px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
}

#splashscreen > h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    max-width: 500px;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
}

#splashscreen > a {
    position: absolute;
    bottom: 50px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    font-size: 3em;
    color: #fff;
}
*/

/* About */

#about, #meet-the-team {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
}

.info-box-container {
    margin: 10px 40px;
    display: flex;
    justify-content: space-around;
    max-width: 1300px;
    width: 100%;
}

.info-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px;
    border: 2px #ccc solid;
    max-width: 300px;
    width: 100%;
    margin: 30px 10px;
}

.info-box>i {
    color: #3466b1;
    font-size: 4em;
    margin-bottom: 20px;
}

.info-box>.line-seperator {
    background-color: #3466b1;
}

.info-box>p {
    color: #888;
    text-align: center;
    line-height: 1.6em;
}

/* Why Choose Us */

#wcu {
    display: flex;
    width: 100%;
    min-height: 800px;
    background-color: #ebebeb;
}

#wcu>* {
    width: 50%;
}

#wcu-right {
    position: relative;
    background-color: #2d3c53;
    padding: 20px;
}

#wcu-right::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("imgs/wcu-bg.png");
    background-size: cover;
    opacity: 0.1;
}

#wcu-right>div {
    display: flex;
    flex-direction: column;
    height: calc(100% - 200px);
    border: 2px #999 solid;
    padding: 80px;
    color: #fff;
}

#wcu-right>div>h2 {
    font-size: 2.5em;
    font-weight: normal;
}

.horizontal-info-box {
    margin-left: 20px;
    display: flex;
}

.horizontal-info-box+.horizontal-info-box {
    margin-top: 40px;
}

.horizontal-info-box>i {
    color: #ccc;
    font-size: 3em;
}

.horizontal-info-box>div {
    margin-left: 30px;
}

.horizontal-info-box>div>p,
.horizontal-info-box>div>h4 {
    text-align: left;
}

.horizontal-info-box>div>p {
    color: #aaa;
    max-width: 500px;
}

.horizontal-info-box h4 {
    font-size: 1.5em;
    font-weight: normal;
}

#wcu-quote {
    max-width: 600px;
    margin: 40px auto 0 auto;
    display: flex;
    align-items: center;
}

#wcu-quote>i {
    font-size: 3em;
    color: #bbb
}

#wcu-quote>span {
    color: #333;
    font-size: 1.6em;
    letter-spacing: 0.1em;
    font-style: italic;
    margin-left: 20px;
}

#wcu-left>p {
    color: #999;
    font-style: italic;
    line-height: 1.7em;
    font-size: 1.1em;
    max-width: 600px;
    margin: auto;
}

#wcu-left>.plyr {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

#wcu-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 80px;
}

/* Meet the team */

#team-members {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    margin: 40px 0;
}

.team-member {
    position: relative;
    width: 300px;
    height: 380px;
    background: #222;
    background-size: cover;
    background-position: center;
}

.team-member-info {
    position: absolute;
    width: 200px;
    background-color: #2e3e56;
    color: #fff;
    text-align: center;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    padding: 10px 0;
}

/* Accordions */

#accordions {
    margin-top: 20px;
}

.accordion {
    background-color: #ededed;
    transition: 0.4s;
    display: none;
    max-height: 1px;
    padding: 40px;
    overflow: hidden;
}

.accordion-expanded {
    display: block;
}

/* News */

#news {
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ebebeb;
}

#news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.news-item {
    margin: 20px 10px;
    padding: 30px;
    width: 320px;
    height: 280px;
    border: 2px #ccc solid;
    display: block;
    color: #000;
    text-decoration: none;
}

.news-item > * + * {
    margin-top: 15px;
}

.news-item h3 {
    text-align: left;
}

.news-item > div {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

/* Responsiveeeee */

@media only screen and (max-width: 1000px) {
    #wcu {
        flex-direction: column;
    }

    #wcu>* {
        width: auto;
    }

    #wcu-right>div {
        align-items: center;
    }

    #wcu-right .line-seperator {
        margin-left: auto !important;
    }

    #wcu-left {
        min-height: 800px;
        padding: 40px;
    }
}

@media only screen and (max-width: 1400px) {
    #wcu-right > div {
        padding: 40px;
        height: calc(100% - 120px);
    }
}

@media only screen and (max-width: 992px) {
    #team-members {
        flex-direction: column;
        align-items: center;
    }

    .team-member + .team-member {
        margin-top: 60px;
    }
}