h1, h2, h3, h4 {
    font-weight: normal;
}

#case-study-picker {
    position: relative;
    height: 400px;
    background-image: url(../imgs/FullSizeRender.jpg);
    background-size: cover;
    color: #fff;
}

#case-study-picker > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#case-study-picker > div > * + * {
    margin-top: 20px;
}

#case-study-picker .button + .button {
    margin-left: 10px;
}

@media only screen and (max-width: 1024px) {
    #case-study-picker > div > div {
        flex-direction: column;
    }

    #case-study-picker .button + .button {
        margin-left: 0;
        margin-top: 10px;
    }

    .case-study {
        padding: 20px 20px 40px 20px !important;
    }
}

/* Case study */

.case-study {
    padding: 20px 15% 40px 15%;
}

.case-study:nth-child(2n) {
    background-color: #ededed;
}

.case-study h2 {
    margin-top: 30px;
}

.case-study h3, .case-study h4 {
    text-align: left;
    color: #3b89ff;
}

.case-study img {
    width: 400px;
    height: 225px;
}

.case-study span {
    display: block;
}

.case-study-big-facts > div > h4 {
    margin-bottom: 20px;
}

.case-study-imgs {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.case-study-imgs > div {
    border-top: 1px solid #000;
    display: flex;
    padding: 20px
}

.case-study-imgs > div > * + *{
    margin-left: 20px;
}

.case-study-imgs li + li {
    margin-top: 10px;
}

.case-study-imgs li {
    line-height: 1.4em;
}

.case-study-imgs > * + * {
    border-bottom: 1px solid #000;
}

/* dah BIG FAXTS fam */

.case-study-big-facts {
    display: flex;
    justify-content: space-around;
}

.case-study-big-facts > div > * + * {
    margin-top: 10px;
}