<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update News</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../news-style.css">
</head>

<body>
    <div id="vue">
        <button v-on:click="toggleAdd()">Add</button>
        <button v-on:click="saveItems()">Save Changes</button>
        <form id="form" class="inputs" v-if="add" style="display: flex; align-items: flex-start; margin-top: 10px;">
            Image Link:
            <input name="img" type="text"> Title:
            <input name="title" type="text"> Date:
            <input name="date" type="text"> Author:
            <input name="author" type="text"> Link:
            <input name="link" type="text">
            <button v-on:click.prevent="addItem()">Submit</button>
        </form>
        <form id="image-uploader" class="inputs" style="display: flex; align-items: flex-start; margin-top: 10px;" enctype='multipart/form-data'>
            File: <input type="file" name="file">
            <button v-on:click.prevent="addImage()">Submit</button>
        </form>
        <div id="news-container">
            <a class="news-item" v-for="(item, key, index) in news">
                <img :src="item.img" style="width: 320px; height: 180px; object-fit: cover; background-color: #ccc;">
                <h3>{{ item.title }}</h3>
                <div>
                    <span>{{ item.date }}</span>
                    <span>BY
                        <span style="color: #173f7a;">{{ item.author }}</span>
                    </span>
                </div>
                <div class="buttons">
                    <button v-on:click="toggleEdit(item)">Edit</button>
                    <button v-on:click="removeItem(index)">Remove</button>
                </div>
                <div class="inputs" v-if="item.edit">
                    Image Link:
                    <input type="text" v-model="item.img"> Title:
                    <input type="text" v-model="item.title"> Date:
                    <input type="text" v-model="item.date"> Author:
                    <input type="text" v-model="item.author"> Link:
                    <input type="text" v-model="item.link">
                </div>
            </a>
        </div>
    </div>

    <script>
        let app = new Vue({
            el: '#vue',
            methods: {
                toggleEdit: function (item) {
                    item.edit = !item.edit;
                },
                removeItem: function (index) {
                    this.$data.news.splice(index, 1);
                },
                toggleAdd: function () {
                    this.$data.add = !this.$data.add;
                },
                addItem: function () {
                    let form = document.querySelector('#form');
                    let item = {};
                    item.img = form.img.value;
                    item.title = form.title.value;
                    item.date = form.date.value;
                    item.author = form.author.value || 'Charles';
                    item.link = form.link.value || '#';
                    item.edit = false;
                    this.$data.news.unshift(item);
                },
                saveItems: function () {
                    fetch('https://virtuscapital.ca/update-news?token=' + getParameterByName('token'), {
                        method: 'post', 
                        headers: {
                            'Accept': 'application/json, text/plain, */*',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(this.$data.news)
                    }).then((res, err) => {
                        console.log(err);
                        console.log(res);
                    })
                },
                addImage: function () {
                    fetch('https://virtuscapital.ca/image-upload?token=' + getParameterByName('token'), {
                        method: 'post', 
                        body: document.querySelector('#image-uploader')
                    }).then((res, err) => {
                        console.log(err);
                        console.log(res);
                    })
                }
            },
            data: {
                add: false,
                news: []
            },
            created() {
                fetch('https://virtuscapital.ca/js/news.json')
                    .then(res => res.json())
                    .then(res => this.$data.news = res);
            }
        })

        function getParameterByName(name) {
            let url = window.location.href;
            name = name.replace(/[\[\]]/g, '\\$&');
            let regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }
    </script>
</body>

</html>